<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'>
<div class="container-fluid">
    <a routerLink="/hr/offers">go To offers</a>
    <form [formGroup]="addProfileForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
                <h2 class="h5 mb-3 mb-lg-0" style="color: #fff;"><a href="#" class="text-muted"><i
                            class="bi bi-arrow-left-square me-2"></i></a> Update Profile</h2>
            </div>

            <!-- Main content -->
            <div class="row">
                <!-- Left side -->
                <div class="col-lg-8">
                    <!-- Basic information -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6 mb-4">Basic information</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Profile Title</label>
                                        <input formControlName="profileTitle" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <!-- Remuneration -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4">Rémunération <p style="font-size: 10px;">(optionel)</p>
                                        </h3>
                                        <div id="remunerationFields">
                                            <div class="mb-3">
                                                <label class="form-label">Salary</label>
                                                <input (change)="onChangeRemuneration($event)"
                                                    formControlName="remuneration" type="range" class="form-range"
                                                    min="0" max="100000" step="1000" value="70000">
                                                <output *ngIf="remuneration" for="salaryRange" id="salaryValue"> EUR
                                                    {{remuneration}}</output>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Selection of Persons -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6 mb-4">Candidates</h3>
                            <select required class="form-select"
                                formControlName="selectedCandidate">
                                <ng-container *ngIf="candidates">
                                    <option *ngFor="let c of candidates;" [value]="c.id">
                                        {{c.lastName}} {{c.firstName}}
                                    </option>
                                </ng-container>
                            </select>
                            <button type="button" class="buttonstylenew" (click)="gotoCandidate()">
                                New Candidate
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Right side -->
                <div class="col-lg-4">
                    <!-- Status -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6">Profile Type</h3>
                            <select required class="form-select" formControlName="profileType">
                                <option value="Full Time">Full Time</option>
                                <option value="Hybride">Hybride</option>
                            </select>
                        </div>
                    </div>
                    <!--Skills-->

                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6 mb-4">Skills <p style="font-size: 8px;"> max skills 10</p>
                            </h3>
                            <div class="row" *ngFor="let control of formskills; let i = index">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Skill Name</label>
                                        <input formControlName="skillName{{i}}" type="text" class="form-control"
                                            required>
                                    </div>
                                </div>
                                <!-- Remuneration -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4"> Years Of Experience
                                        </h3>
                                        <div id="remunerationFields">
                                            <div class="mb-3">
                                                <label class="form-label">Years</label>
                                                <input
                                                    style="margin-left: 10px; background: radial-gradient(circle farthest-corner at 0.2% 0.5%, rgba(68,36,164,1) 3.7%, rgba(84,212,228,1) 92.7%);color: white; width: 50px; border-radius: 10px; padding: 5px;"
                                                    formControlName="year{{i}}" type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="buttonstylenew" (click)="onclickCancelskill(i)">
                                        Cancel Skill
                                    </button>
                                </div>
                            </div>
                            <button class="buttonstylenew" type="button" (click)="onclickAddskill()">Add Skill</button>
                        </div>
                        <!-- Notes -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">Notes <p style="font-size:10px ;">optional</p>
                                </h3>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
                <div class="hstack gap-3" style="margin-left: 70%;">
                    <button (click)="rest()" class="btn-sm "> <span class="text">Cancel</span></button>
                    <button [disabled]="isButtonDisabled" [ngClass]="isButtonDisabled?'btn':'btn-sm'"
                        style="border: none;"> <span class="text">  Update </span></button>
                </div>
                <a routerLink="/hr/offers">go To offers</a>
            </div>
            <div id="buttons" *ngIf="showfilButtons" class="flex-lg-row">
                <button type="button" style="margin: 10px;" class="buttonstylenew" (click)="displayAudioForm()"> Update
                    Media</button>
                <button type="button" style="margin: 10px;" class="buttonstylenew" (click)="displayCvForm()"> Update
                    CV</button>
                    <button type="button" style="margin: 10px;" class="buttonstylenew" (click)="displayIntrviewForm()"> Add
                        Intrview
                        Data</button>
            </div>

        </div>
    </form>
    <!--CV Form -->
    <form style="margin:50px ;margin-bottom: 0px;" *ngIf="savecv" [formGroup]="addCvForm" (ngSubmit)="onSubmitCv()">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="h6">Cv <p style="font-size: 8px;color:  red;"> Name has to Be Unique Format PDF </p>
                    <hr>
                    <p style="font-size: 10px;color: red;" *ngIf="showerro"> {{showerro}} </p>
                </h3>
                <input [ngClass]="showerro?'bordererror':''" (change)="onFileSelected($event)" class="form-control"
                    type="file" formControlName="cv">
            </div>
            <button style="margin: 10px;" class="buttonstylenew" (click)="onSubmitCv()"> Update CV</button>
        </div>
    </form>

    <!--Audio Form -->
    <form style="margin:50px ;margin-bottom: 0px;" *ngIf="saveaudio" [formGroup]="addAudioForm"
        (ngSubmit)="onSubmitAudio()">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="h6">Media<p style="font-size: 8px;color:  red;"> Nama has to Be Unique Fprmay MP4 or MP3 </p>
                    <hr>
                    <p style="font-size: 10px;color: red;" *ngIf="showerro"> {{showerro}} </p>
                </h3>
                <input [ngClass]="showerro?'bordererror':''" (change)="onFileSelectedAudio($event)" class="form-control"
                    type="file" formControlName="audio">
            </div>
            <button style="margin: 10px;" class="buttonstylenew" (click)="onSubmitAudio()">Update Media</button>
        </div>
    </form>


    
    <!--Intrview Form -->
    <form *ngIf="savePreEntrviewFile" [formGroup]="addInrviewForm" (ngSubmit)="onSubmitPreIntrviewData()">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="h6 mb-4">Intrview information</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <p style="color: Red;font-size: 10px;" *ngIf="errmsjintrviewdata">{{errmsjintrviewdata}}</p>
                        <p *ngIf="succesmsjapplay" style="color: green"> {{succesmsjapplay}} </p>
                        <div class="mb-3">
                            <label class="form-label">LinkdIn Profile Link</label>
                            <input placeholder="http://linkdind/..." formControlName="linkdin" type="url"
                                class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Git Hub Profile Link</label>
                            <input placeholder="http://github/..." formControlName="github" type="url"
                                class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Portfolio
                                <p style="font-size: 8px;">(optional)</p>
                            </label>
                            <input placeholder="http://github/..." formControlName="portfolio" type="url"
                                class="form-control" required>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> What is his motivation for this change of position
                            </h3>
                            <textarea formControlName="yourMotivationForChangePosition" class="form-control" rows="3"
                                required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> List the candidate's indispensable points related to those defined by the
                                client
                            </h3>
                            <textarea formControlName="PointsDefinedByClient" class="form-control" rows="3"
                                required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> List any other indispensable points of the candidate
                            </h3>
                            <textarea formControlName="otherPoints" class="form-control" rows="3" required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> Personality traits (soft skills) / Recruiter's analysis
                            </h3>
                            <textarea formControlName="softSkills" class="form-control" rows="3" required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> Candidate's motivations and expectations
                            </h3>
                            <textarea formControlName="expectations" class="form-control" rows="3" required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> Does the candidate have plans to pursue training in the short or medium
                                term?
                            </h3>
                            <textarea formControlName="trainingPlans" class="form-control" rows="3" required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> Current benefits
                            </h3>
                            <textarea formControlName="currentBenifits" class="form-control" rows="3"
                                required></textarea>
                        </div>

                        <div class="card-body">
                            <h3 class="h6"> Desired benefits
                            </h3>
                            <textarea formControlName="desiredBenifits" class="form-control" rows="3"
                                required></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Current gross salary</label>
                            <input formControlName="currentSalary" type="text" class="form-control" required
                                appOnlynumbers>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Of which fixed salary</label>
                            <input formControlName="fixedSalary" type="text" class="form-control" required
                                appOnlynumbers>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Gross salary desired</label>
                            <input formControlName="desiredSalary" type="text" class="form-control" required
                                appOnlynumbers>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Notice period duration </label>
                            <input formControlName="noticePeriodDuration" type="text" class="form-control" required>
                        </div>

                        <div *ngIf="recruitors" class="mb-3">
                            <label class="form-label">Recruitor</label>
                            <select required class="form-select" formControlName="recruitor">
                                <option *ngFor="let r of recruitors" [value]="r.id"> {{r.lastName}} {{r.firstName}}
                                </option>
                            </select>
                            <a type="button" [routerLink]="['/hr/saverecruitor',profile_id]" style="margin: 10px;"
                                class="buttonstylenew">new recruitor</a>
                        </div>

                        <div *ngIf="offers" class="mb-3">
                            <label class="form-label">offer</label>
                            <select required class="form-select" formControlName="offer">
                                <option *ngFor="let f of offers" [value]="f.id"> {{f.offer_title}} </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Is the candidate currently employed?</label>
                            <select required class="form-select" formControlName="employedStatus">
                                <option value="Yes"> Yes </option>
                                <option value="No"> No </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">The candidate is?</label>
                            <select required class="form-select" formControlName="statusSearch">
                                <option value="he candidate is actively searching"> he candidate is actively searching.
                                </option>
                                <option value="The candidate is open to opportunities"> The candidate is open to
                                    opportunities </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Does the candidate have other ongoing recruitment
                                processes?</label>
                            <select required class="form-select" formControlName="onGoingProcesses">
                                <option value="Yes"> Yes </option>
                                <option value="No"> No </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">What is the level of progress of these other processes?</label>
                            <select required class="form-select" formControlName="progressLevel">
                                <option value="Not very advanced"> Not very advanced </option>
                                <option value="advanced">advanced </option>
                                <option value="very advanced">very advanced </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Is the candidate willing to relocate if necessary? </label>
                            <select required class="form-select" formControlName="relocation">
                                <option value="Yes"> Yes </option>
                                <option value="No"> No </option>
                            </select>
                        </div>

                        <div class="mb-3" *ngIf="quationbooleanshow">
                            <label class="form-label"> specify the mobility area. </label>
                            <input formControlName="mobilityArea" type="text" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Is the candidate ? </label>
                            <select required class="form-select" formControlName="quation">
                                <option value="Available immediately "> Available immediately </option>
                                <option value="Notice period">Notice period </option>
                                <option value="the notice period is negotiable"> the notice period is negotiable
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Availability date </label>
                            <input formControlName="availabilityDate" type="date" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> The candidate was interviewed via video call on the </label>
                            <input formControlName="intrviewedVideoCallDate" type="date" class="form-control" required>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button style="margin: 10px;" class="buttonstylenew" (click)="onSubmitPreIntrviewData()">Update Data Of
            Intrview</button>
    </form>