<div class="wrapper mx-auto px-4 h-screen flex bg-white ">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li style="font-size: 10px;"><a routerLink="/hr/recources" routerLinkActive="active-link"><i class="fa fa-home"></i> Home</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/offers"><i class="fa fa-briefcase" aria-hidden="true"></i> Offers</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/saveoffer"><i class="fa fa-plus-circle" aria-hidden="true"></i> Save Offer</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/profiles"><i class="fa fa-address-card" aria-hidden="true"></i> Profiles</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/saveprofile"><i class="fa fa-user-plus" aria-hidden="true"></i> save profile</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/companies"><i class="fa fa-users" aria-hidden="true"></i>  Companies</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/savecompany"><i class="fa fa-plus-circle" aria-hidden="true"></i> Save Company</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/candidates"><i class="fa fa-user"></i> Candidates</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/savecandidate"><i class="fa fa-user-plus" aria-hidden="true"></i> save candidate</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/recruitors"><i class="fa fa-universal-access" aria-hidden="true"></i>  Recruitors</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/saverecruitor"><i class="fa fa-user-plus" aria-hidden="true"></i> save Recruitor</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/validators"><i class="fa fa-user" aria-hidden="true"></i> Validators</a></li>
            <li style="font-size: 10px;"><a routerLink="/hr/savevalidator"><i class="fa fa-user-plus" aria-hidden="true"></i> save Validator</a></li>
            <li style="font-size: 10px;"><button (click)="LogOut()"><i class="fa fa-user-plus" aria-hidden="true"></i> LogOut</button></li>

        </ul>
    </div>

    <div class=" wrapper flex flex-wrap" style="margin-left: 10%;">
        <ng-container *ngIf="errorMessage ; else loading">
            <div class="text-danger">{{errorMessage}}</div>
        </ng-container>
        <ng-template #loading>
            <p *ngIf="!(offersObservable | async)  " >Loading....</p>
            <p *ngIf=" !(validatorObservable | async) " >Loading....</p>
            <p *ngIf=" !(profileObservable | async) " >Loading....</p>

        </ng-template>

        <div class=" card-background text-white" style="margin-left: -10px;border-radius: 20px;margin-bottom: 30px;">
            <h2 class=" txt text-xl mb-4 font-bold">Ressources Humaines</h2>
        </div>

        <!--Cards Offres-->
        <td><a routerLink="/hr/offers"  style="color: rgb(34, 51, 180);font-size: 15px;">view all Offer</a></td>
        <div class="w-full flex">
            <div class="card card-background w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 mb-4">
                <div class="txt">
                    <p class="font-bold mb-4">Offers</p>
                    <table class="validator-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created Date</th>
                                <th></th>
                                <th>Localisation</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="offersObservable | async as offers">
                            <tbody>
                                <tr *ngFor="let ofr of offers.offerDtos">
                                    <td>{{ofr.offer_title}}</td>
                                    <td>{{ofr.createdat | date : 'dd-MM-yyyy'}}<td>
                                    <td>{{ofr.localisation.substring(0,30)}}...</td>
                                    <td><a [routerLink]="['/hr/offers/', ofr.id]" style="color: white;">view Offer</a></td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
        <!--Cards Offres -->
        <!-- Cards Validators  -->
        <div class="w-full flex">
            <div class="card card-background w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 mb-4">
                <div class="txt">
                    <p class="font-bold mb-4">Validators</p>
                    <table class="validator-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>company Name</th>
                                <th>offer</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="validatorObservable | async as validators">
                            <tbody>
                                <tr *ngFor="let va of validators.validatorDtos">
                                    <td>{{va.firstName}} {{va.lastName}}</td>
                                    <td>{{va.companyName}}</td>
                                    <td>{{va.offer_title}}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
                <a routerLink="/hr/validators" class="btn-more custom-button">View All</a>
            </div>
        </div>
        <!-- Cards Validators  -->
        <!--Cards  Candidats -->
        <div class="w-full flex">
            <div class="card card-background w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 mb-4">
                <div class="txt">
                    <p class="font-bold">Profils</p>
                    <table class="validator-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="profileObservable | async as profiles">
                            <tbody>
                                <tr *ngFor="let pr of profiles.profileDtos" >
                                    <td>{{pr.firstName}} {{pr.lastName}}</td>
                                    <td>{{pr.profileTitle}}</td>
                                    <td>{{pr.status}}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
                <a [routerLink]="'/hr/profiles'" class="btn-more custom-button">View All</a>
            </div>
        </div>

        <!--Cards  Candidats -->
    </div>
</div>