.custom-button {
      display: inline-block;
      font-family: "Merriweather Sans", sans-serif;
      text-transform: uppercase;
      padding: 10px 45px;
      background-color: #ffffff;
      border: 1px solid #ff8a1d;
      border-radius: 25px;
      color: #e01515;
      margin-top: 15px;
      text-decoration: none; /* pour supprimer la soulignement du lien */
    }

    /* Style pour les boutons au survol */
    .custom-button:hover {
      background-color: transparent;
      color: #ff8a1d;
    }

    /* Style pour le fond personnalisé */
    .custom-background {
      background-image: radial-gradient(circle farthest-corner at 0.2% 0.5%, rgba(68, 36, 164, 1) 3.7%, rgba(84, 212, 228, 1) 92.7%);
    }