

body{
    background: radial-gradient(circle farthest-corner at 0.2% 0.5%, rgba(68,36,164,1) 3.7%, rgba(84,212,228,1) 92.7%);
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}
.text {
	display: inline-block;
	font-family: "Merriweather Sans", sans-serif;
	text-transform: uppercase;
	padding: 7% 25%;
	background-color: #ffffff;
	border: 1px solid #ff8a1d;
	border-radius: 25%;
	color: #e01515;
	margin-top: 10px;
	text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
	}
.text:hover {
    background-image: radial-gradient(circle farthest-corner at 0.2% 0.5%, rgba(68,36,164,1) 3.7%, rgba(84,212,228,1) 92.7%);
	/* background-color:unset; */
	color: #ff8a1d;
    border-color: unset;
	} 
	[type="date"] {
		background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
	  }
	  [type="date"]::-webkit-inner-spin-button {
		display: none;
	  }
	  [type="date"]::-webkit-calendar-picker-indicator {
		opacity: 0;
	  }
	  label {
		display: block;
	  }
	  input {
		border: 1px solid #c4c4c4;
		border-radius: 5px;
		background-color: #fff;
		padding: 3px 5px;
		box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
		width: 190px;
	  }